/* redefining styles on the page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Style in BODY */
header {
    background-image: url(../images/home_walpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Style in LOGO ICON */
.logo_icon img {
    width: 200px;
    height: 120px;
    margin-left: 1%;
    transition: all 0.8s;
}

/* Style when cursor move in front LOGO ICON */
.logo_icon img:hover {
    width: 200px;
    height: 125px;
    transition: all 0.8s;
}

/* Style in MENU TOPICS */
.home_topics {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: flex-start;
    margin-top: 40px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    top: 0;
    right: 0;
    position: absolute;
}

.home_topics a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    transition: all 0.8s;
    font-family: 'Montserrat', sans-serif;
}

.home_topics a:hover {
    color: rgb(224, 224, 5);
    font-size: 17px;
    transition: all 0.8s;
}

/* Style in TEXT HEADER */
.Text_header {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
}

/* Style Phrase in middle text */
.Text_header span{
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, 15%);
}

.best {
    font-size: 100px;
    color: rgb(224, 224, 5);
    margin-left: 20px;
}

/* Style in BUTTON in header part for CALL US */
/* Style in BUTTON in header part for CALL US */
.cssbuttons-io-button {
    background: #fff;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-style: italic;
    left: 50%;
    transform: translate(-60%, 850%);
}
  
  .cssbuttons-io-button .icon {
    background: rgb(238, 255, 84);
    margin-left: 1em;
    position: absolute;
    margin-top: -19%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #080808;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover {
    background-color: rgb(224, 224, 5);
    color: #000;
}

.cssbuttons-io-button a {
    color: #000;
}
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #1d1d1d;
}
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


/* Style in ABOUT part */
#about_part {
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d;
}

/* Title in about */
.title_about {
    color: rgb(224, 224, 5);
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    left: 10%;
    margin-top: 60px;
    position: absolute;
    transition: all 0.8s;
}

.title_about .text_span {
    transition: color 0.8s ease-in-out, font-size 0.8s ease-in-out;
}

/* Title with hover */
.title_about .text_span:hover {
    color: rgb(255, 255, 255);
    transition: all 0.8s;
    font-size: 52px;
}

/* Style in TEXT ABOUT */
.text_about {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    width: 30%;
    text-align: left;
    padding: 20px;
    top: 100%;
    margin-left: -20px;
    padding-top: 30px;
}

/* Style in IMAGES */
.images_about_one img {
    width: 30%;
    height: 50vh;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 15px #000;
}

.images_about_sec img {
    width: 35%;
    height: 50vh;
    margin-left: 40%;
    margin-top: -10%;
    margin-left: 60%;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 15px #000;
}

/* SERVICE PART STYLE */
#Service_cont {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    align-items: center;
}

/* Style in TITLE SERVICES */
.title_service {
    color: rgb(224, 224, 5);
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    left: 35%;
    margin-top: 22px;
    position: absolute;
    transition: all 0.8s;
}

/* Hover in title */
.title_service .text_span {
    transition: color 0.8s ease-in-out, font-size 0.8s ease-in-out;
}

/* Title with hover */
.title_service .text_span:hover {
    color: rgb(255, 255, 255);
    transition: all 0.8s;
    font-size: 52px;
}

/* Style in IMAGES SERVICES */
.boxe_service img { 
    width: 31%;
    height: 45.5vh;
    margin-left: 2%;
    margin-top: 13%;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: all 0.8s;
}

.boxe_service:hover img {
    box-shadow: 0px 0px 25px #fff;
}

.gym_service {
    width: 100%;
    margin-top: -20px;
}

.gym_service img {
    width: 31%;
    height: 45.5vh;
    margin-left: 35%;
    margin-top: -30%;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: all 0.8s;
}

.bjj_service img {
    width: 90%;
    height: 45vh;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: all 0.8s;
}

.bjj_service {
    margin-left: 68%;
    margin-top: -21.5%;
}

.Cards_services img:hover {
    transform: scale(1.0);
    box-shadow: 0px 0px 25px #fff;
}


