/* redefining styles on the page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style in BODY */
header {
    background-image: url(../images/home_walpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
