/* redefining styles on the page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style in BODY */
header {
    background-image: url(../images/home_walpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Style in LOGO ICON */
.logo_icon img {
    width: 200px;
    height: 120px;
    margin-left: 1%;
    transition: all 0.8s;
}

/* Style when cursor move in front LOGO ICON */
.logo_icon img:hover {
    width: 200px;
    height: 125px;
    transition: all 0.8s;
}

/* Style in MENU TOPICS */
.home_topics {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: flex-start;
    margin-top: 40px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    top: 0;
    right: 0;
    position: absolute;
}

.home_topics a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    transition: all 0.8s;
}

.home_topics a:hover {
    color: rgb(224, 224, 5);
    font-size: 17px;
    transition: all 0.8s;
}

/* Style in TEXT HEADER */
.Text_header {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
}

/* Style Phrase in middle text */
.Text_header span{
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, 15%);
}

.best {
    font-size: 100px;
    color: rgb(224, 224, 5);
    margin-left: 20px;
}

/* Style in BUTTON in header part for CALL US */
.cssbuttons-io-button {
    background: rgb(224, 224, 5);
    color: rgb(53, 49, 1);
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-style: italic;
    left: 50%;
    transform: translate(-60%, 850%);
}
  
  .cssbuttons-io-button .icon {
    background: rgb(238, 255, 84);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #080808;
    right: 0.3em;
    transition: all 0.3s;
}
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #1d1d1d;
}
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/* Style in ABOUT part */
.about_part {
    width: 100%;
    height: 100vh;
    background-color: #1d1d1d;
}